#root {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Layout 헤더 */
.img_wrap {
    position: relative;
    height: 35vh;
    overflow: hidden;
    width: 100%;
}

.img_wrap img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8;
    top: -100px;
    left: 0;
    object-fit: cover;
}

.text_on_img {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(135, 207, 235, 0.7);
    text-shadow: 0 0 5px black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/* Layout 메뉴 박스 */
.Menu-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}

.logo {  
  height: 100px;
  width: auto;
}

.Menu-box h2 {
  font-size: 3rem;
  margin: 0; /* 기본 마진 제거 */
  font-weight: 600;  
}

/* 로그인 폼 스타일 추가 */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 50px auto;
}

.id-container {
  position: relative; /* X 버튼 위치 설정을 위해 relative 사용 */
  width: 100%;
  margin-bottom: 10px;
}

.login-button {
  background-color: green;
  color: white;
  margin: 10px 0 0 0;
  padding: 10px 100px;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}


.result {
  background: #ff3b3b46;
  text-align: center;
  color: darkred;
  padding: 5px;
}

button {
  background-color: lightgreen;
  margin: 5%;
  padding: 10px 50px;
}

.Layout_box {
  border: 1px solid #ccc; /* 테두리 */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* 모서리 둥글게 */
  background-color: #f9f9f9;
}

div.comment {
  background: lightgrey;
  text-align: justify;
  color: black;
  font-size: 0.9rem;
  padding: 0 20px;
}

div > ol, ul {   
  padding-left: 5px;
  padding-bottom: 10px;
  list-style-position: outside
}

ol > li {
  font-weight: bold;
  font-size: medium;
}